$theme-colors: ("primary": #6bc4c9,
    "danger": rgb(173, 71, 27));

@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100%;
    opacity: .8;
    background: url("./images/pexels.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color: #6bc4c9;
}

.navbar-brand {
    margin-left: 2rem;
    
}

.btn, .btn-primary {
    margin-top: 10px;
    // background-color: tomato !important;
    // border-color: tomato;
    box-shadow: 3px 5px rgb(235, 203, 203);
}

// .bg-primary {
//     background-color: tomato;
// }
