$theme-colors: ("primary":#0dcaf0,
    "danger": red);

@import '~bootstrap/scss/bootstrap';

@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }

body {
    min-height: 100%;
    opacity: .8;
    background: url("./images/cookiebackground.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    background-color: #6bc4c9;
}

.navbar-brand {
    margin-left: 2rem;
    
}

.btn, .btn-primary {
    margin-top: 6px;
    // background-color: tomato !important;
    // border-color: tomato;
    box-shadow: 3px 5px rgb(235, 203, 203);
}

.hp-banner {
    display: flex;
}

.form {
    display: flex;
}

.about {
    display: flex;
}

.write {
    display: flex;
}

.research {
    display: flex;
}

.contact  {
    display: flex;
}
